* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    background: linear-gradient(90deg, #7540ad 0%, #e8b3f7 100%);
  }
}

input {
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.232);
  color: rgba(255, 255, 255, 0.9);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

button {
  padding: 16px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-top: 8px;
  width: 400px;
  font-weight: 600;
  color: rgb(32, 31, 31);
  transition: all 0.3s;
}

button:hover {
  transform: translateY(-2px);
}

h2 {
  margin-bottom: 32px;
  font-size: 48px;
  text-align: center;
}

p {
  margin-bottom: 32px;
  font-weight: 300;
  text-align: center;
  width: 400px;
  color: rgba(255, 255, 255, 0.416);
}

.containerPai {
  width: 100%;
  height: 100vh;
  background-color: #181921;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 80%;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.086);
  border-radius: 32px;
  padding: 32px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.esquerda,
.direita {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.formLogin,
.facaLogin,
.formCadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.facaLogin,
.formCadastro {
  position: absolute;

  h2,
  p {
    color: rgba(0, 0, 0, 0.8);
  }

  button {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
}
.facaLogin,
.formCadastro,
.facaCadastro,
.formLogin {
  transition: opacity 0.3s ease, pointer-events 0.3s ease;
}

/*background movel*/

.card::after {
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("./assets/rb_117324.png");
  background-size: cover; /* Ajusta para cobrir o elemento */
  background-position: center; /* Centraliza a imagem */
  position: absolute;
  top: 0;
  left: 0; /* Ajustado para alinhar a imagem corretamente */
  z-index: 0;
}

/*LOGIN ACTIVE*/

.card.loginActive .facaLogin {
  opacity: 0;
  pointer-events: none;
}

.card.loginActive .formCadastro {
  opacity: 0;
  pointer-events: none;
}

.card.loginActive::after {
  transform: translate(50%);
}

.card.cadastroActive .facaCadastro {
  opacity: 0;
  pointer-events: none;
}

.card.cadastro::after {
  transform: translate(-50%);
}

.card .facaLogin,
.card .formCadastro,
.card .facaCadastro {
  transition: opacity 0.3s ease, pointer-events 0.3s ease;
}
